body {
    background-color: rgb(7, 8, 20);
    padding: 0px;
}

form {
    margin: 20% auto;
    width: 80%;
    padding: 30px;
    background-color: rgb(7, 8, 20);
    border-radius: 10px;

}


.form-control {
    border-radius: 10px;
    background-color: rgb(33, 32, 37);
    border-color: rgb(33, 32, 37);
    height: 45px;
    width: 100%;

}

input[type="text"]::-webkit-input-placeholder {
    color: rgb(80, 80, 80);
    font-weight: bold;
    font-size: small;
    padding-left: 35px;
}

input[type="password"]::-webkit-input-placeholder {
    color: rgb(80, 80, 80);
    font-weight: bold;
    font-size: small;
    padding-left: 35px;
}

input[type="email"]::-webkit-input-placeholder {
    color: rgb(80, 80, 80);
    font-weight: bold;
    font-size: small;
    padding-left: 35px;
}

.btn1 {
    display: flex;
    justify-content: center;
    

}
.btndiv {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}


.input-group-append {
    visibility: hidden;
    height: 30px;
}

.btn-success {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: rgb(24, 128, 24);
    border-color: rgb(24, 128, 24);
    font-weight: bold;
    width: 130px;
    height: 35px;
    align-content: center;
}

.btn-danger {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: red;
    border-color: red;
    font-weight: bold;
    width: 130px;
    height: 35px;
    align-content: center;
}

a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.material-icons {
    color: white;
    margin-left: 35%;
    margin-top: -35px;
    position: fixed;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.captchadiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 25px;
}



/*background-color: rgb(70, 70, 70);

background-color: rgb(22, 22, 22);*/